{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Agents - EstateAgency Bootstrap Template</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="{%static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{%static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{%static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{%static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{%static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{%static 'assets/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="{%static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{%static 'assets/css/main.css' %}" rel="stylesheet">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">

  <!-- =======================================================
  * Template Name: EstateAgency
  * Template URL: https://bootstrapmade.com/real-estate-agency-bootstrap-template/
  * Updated: Aug 09 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="agents-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

        <div class="logo d-flex align-items-center">
  <h1 class="sitename m-0">
    KEJA<span>HOMES</span>
  </h1>
</div>

  <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{% url 'index' %}" class="active">Home</a></li>
          <li><a href="{% url 'about' %}">Services</a></li>
          <li><a href="{% url 'properties' %}">Properties</a></li>
          <li><a href="{% url 'agents' %}">Agents</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>


    </div>
  </header>

  <main class="main">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>Agents</h1>

    <section id="agents" class="agents section">

      <div class="container">

        <div class="row gy-5">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="pic"><img src="{%static 'assets/img/team/WhatsApp Image 2026-01-30 at 5.38.19 PM.jpeg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Stella Wanjiku</h4>
                <span>Agent</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <div class="pic"><img src="{%static 'assets/img/team/WhatsApp Image 2026-03-12 at 10.01.33 AM.jpeg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Ndung'u Njunge</h4>
                <span>Agent</span>
              </div>
            </div>
          </div><!-- End Team Member -->
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <div class="pic"><img src="{%static 'assets/img/team/WhatsApp Image 2026-03-17 at 9.24.06 AM.jpeg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Kuyo Nawot</h4>
                <span>Agent<br></span>
              </div>
            </div>
          </div>

     <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <div class="pic"><img src="{%static 'assets/img/team/WhatsApp Image 2026-03-17 at 9.07.40 AM.jpeg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Cliff Michigan</h4>
                <span>Agent<br></span>
              </div>
            </div>

          </div><!-- End Team Member -->
           <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <div class="pic"><img src="{%static 'assets/img/team/WhatsApp Image 2026-03-12 at 10.09.49 AM.jpeg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Elizabeth Melisah</h4>
                <span>Agent<br></span>
              </div>
            </div>
          </div>

        </div>

      </div>

    </section><!-- /Agents Section -->

  </main>


  <footer id="footer" class="footer light-background">

    <div class="container">
      <div class="row gy-3">
        <div class="col-lg-3 col-md-6 d-flex">
          <i class="bi bi-geo-alt icon"></i>
          <div class="address">
            <h4>Address</h4>
            <p>Kipro Center</p>
            <p>Westlands, Nairobi</p>
            <p></p>
          </div>

        </div>

        <div class="col-lg-3 col-md-6 d-flex">
          <i class="bi bi-telephone icon"></i>
          <div>
            <h4>Contact</h4>
            <p>
              <strong>Phone:</strong> <span>+254112299921</span><br>
              <strong>Email:</strong> <span>kejahomes@gmail.com</span><br>
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex">
          <i class="bi bi-clock icon"></i>
          <div>
            <h4>Opening Hours</h4>
            <p>
              <strong>Open 24/7</strong> <span>Your Home, Anytime</span><br>
            </p>
          </div>
        </div>


      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">KejaHomes.</strong> <span>All Rights Reserved.</span></p>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{%static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{%static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{%static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{%static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{%static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>

  <!-- Main JS File -->
  <script src="{%static 'assets/js/main.js' %}"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js">

</body>

</html>