
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Index - KEJA HOMES </title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{%static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{%static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{%static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{%static 'assets/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="{%static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{%static 'assets/css/main.css' %}" rel="stylesheet">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: EstateAgency
  * Template URL: https://bootstrapmade.com/real-estate-agency-bootstrap-template/
  * Updated: Aug 09 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

   <div class="logo d-flex align-items-center">
  <h1 class="sitename m-0">
    KEJA<span>HOMES</span>
  </h1>
</div>



      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{% url 'index' %}" class="active">Home</a></li>
          <li><a href="{% url 'about' %}">Services</a></li>
          <li><a href="{% url 'properties' %}">Properties</a></li>
          <li><a href="{% url 'agents' %}">Agents</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>

        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>

  <main class="main">

    <!-- Hero Section -->  <section id="hero" class="hero section dark-background">

      <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">

        <div class="carousel-item active" >
          <img src="{%static 'assets/img/hero-carousel/WhatsApp Image 2026-03-17 at 8.02.18 AM.jpeg' %}" alt="">
          <div class="carousel-container">
            <div>

              <h2><span>Karen</span> Nairobi</h2>
              <a href="{% url 'properties' %}" class="btn-get-started">sale | KSH 1.2M</a>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <img src="{%static 'assets/img/hero-carousel/runda-house.jpg' %}" alt="">
          <div class="carousel-container">
            <div>

              <h2><span>Runda</span> Nairobi</h2>
              <a href="{% url 'properties' %}" class="btn-get-started">sale | KSH 3.5M</a>
            </div>
          </div>
        </div>

          <div class="carousel-item">
          <img src="{%static 'assets/img/hero-carousel/buruburu-house.jpg' %}" alt="">
          <div class="carousel-container">
            <div>

              <h2><span>Buruburu</span> Nairobi</h2>
              <a href="{% url 'properties' %}" class="btn-get-started">sale | KSH 750.000</a>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <img src="{%static 'assets/img/hero-carousel/WhatsApp Image 2026-03-17 at 8.05.18 AM.jpeg' %}" alt="">
          <div class="carousel-container">
            <div>

              <h2><span>Wundanyi</span> Taita Taveta</h2>
              <a href="{% url 'properties' %}" class="btn-get-started">sale | KSH 2.4M</a>
            </div>
          </div>
        </div>

             <div class="carousel-item">
          <img src="{%static 'assets/img/hero-carousel/WhatsApp Image 2026-03-17 at 8.06.36 AM.jpeg' %}" alt="">
          <div class="carousel-container">
            <div>

              <h2><span>Lodwar</span> Turkana</h2>
              <a href="{% url 'properties' %}" class="btn-get-started">sale | KSH 650.000</a>
            </div>
          </div>
        </div>

          <div class="carousel-item">
          <img src="{%static 'assets/img/hero-carousel/WhatsApp Image 2026-03-17 at 8.08.07 AM.jpeg' %}" alt="">
          <div class="carousel-container">
            <div>

              <h2><span>Hola</span> Tana River</h2>
              <a href="{% url 'properties' %}" class="btn-get-started">sale | KSH 700.000</a>
            </div>
          </div>
        </div>

           <div class="carousel-item">
          <img src="{%static 'assets/img/hero-carousel/WhatsApp Image 2026-03-17 at 8.03.51 AM.jpeg' %}" alt="">
          <div class="carousel-container">
            <div>

              <h2><span>Athi River</span> Machakos</h2>
              <a href="{% url 'properties' %}" class="btn-get-started">sale | KSH 820.000</a>
            </div>


        <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

        <ol class="carousel-indicators"></ol>

      </div>

    </section><!-- /Hero Section -->

    <!-- Services Section -->
    <section id="services" class="services section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Our Services</h2>
        <p>We are a kenyan-based network that helps individuals to get acess to homes any where in the country</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item  position-relative">
              <div class="icon">
      <i class="bi bi-building-check"></i>


              </div>
              <a href="{% url 'maps' %}" class="stretched-link">
                <h3>RENTALS</h3>
              </a>
              <p>We help you access any rentals in the country by just clicking this button you will be directed to the place of your choice.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon">
             <i class="bi bi-house-heart-fill"></i>




              </div>
              <a href="{% url 'maps' %}" class="stretched-link">
                <h3>PURCHASE YOUR OWN HOUSE</h3>
              </a>
              <p>We help you access any Home of your choice in the country by just clicking this button you will be directed to the homes available for the price you are interested in.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon">
             <i class="bi bi-house-door-fill"></i>









              </div>
              <a href="{% url 'maps' %}" class="stretched-link">
                <h3>AirBnB</h3>
              </a>
              <p>By clicking this button you will acess any fully furnished airbnb around you to spend your time and be safe.</p>
            </div>

          </div><!-- End Service Item -->

<a href="{% url 'maps' %}"
   class="btn text-white rounded-pill px-4 py-2"
   style="background-color:#7ED957;">
   Get A Place To Stay
</a>




        </div>

      </div>

    </section><!-- /Services Section -->

    <!-- Agents Section -->
    <section id="agents" class="agents section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Our Agents</h2>
        <p>Meet our dedicated agents who are passionate about helping you find a place you can call home. They are ready to guide you through every step of your house-hunting journey.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-5">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="pic"><img src="{%static 'assets/img/team/WhatsApp Image 2026-01-30 at 5.38.19 PM.jpeg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Stella Wanjiku</h4>
                <span>Agent</span>

              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <div class="pic"><img src="{%static 'assets/img/team/WhatsApp Image 2026-03-12 at 10.01.33 AM.jpeg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Ndung'u Njunge</h4>
                <span>Agent</span>

              </div>
            </div>
          </div><!-- End Team Member -->

           <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <div class="pic"><img src="{%static 'assets/img/team/WhatsApp Image 2026-03-17 at 9.24.06 AM.jpeg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Kuyo Nawot</h4>
                <span>Agent<br></span>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <div class="pic"><img src="{%static 'assets/img/team/WhatsApp Image 2026-03-17 at 9.07.40 AM.jpeg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Cliff Michigan</h4>
                <span>Agent<br></span>
              </div>
            </div>
             </div><!-- End Team Member -->
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <div class="pic"><img src="{%static 'assets/img/team/WhatsApp Image 2026-03-12 at 10.09.49 AM.jpeg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Elizabeth Melisah</h4>
                <span>Agent<br></span>
              </div>
            </div>
          </div>


            </div>



        </div>

      </div>

    </section><!-- /Agents Section -->



  </main>


  <footer id="footer" class="footer light-background">

    <div class="container">
      <div class="row gy-3">
        <div class="col-lg-3 col-md-6 d-flex">
          <i class="bi bi-geo-alt icon"></i>
          <div class="address">
            <h4>Address</h4>
            <p>Kipro Center</p>
            <p>Westlands, Nairobi</p>
            <p></p>
          </div>

        </div>

        <div class="col-lg-3 col-md-6 d-flex">
          <i class="bi bi-telephone icon"></i>
          <div>
            <h4>Contact</h4>
            <p>
              <strong>Phone:</strong> <span>+254112299921</span><br>
              <strong>Email:</strong> <span>kejahomes@gmail.com</span><br>
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex">
          <i class="bi bi-clock icon"></i>
          <div>
            <h4>Opening Hours</h4>
            <p>
              <strong>Open 24/7</strong> <span>Your Home, Anytime</span><br>
            </p>
          </div>
        </div>


      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">KejaHomes.</strong> <span>All Rights Reserved.</span></p>
    </div>

  </footer>
  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{%static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{%static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{%static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{%static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{%static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>

  <!-- Main JS File -->
  <script src="{%static 'assets/js/main.js' %}"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js">

</body>

</html>